*{
    padding: 0;
    margin: 0;
}

body{
    padding: 20px;
}

img{
    width: 200px;
    height: 200px;
}

#firstline{
    height: initial;
    padding: 10px;
    width: initial;
    display: flex;
    background-color: aqua;
    justify-content: space-between;
}

#secondline{
    height: initial;
    padding: 20px;
    justify-content: space-around;
    display: flex;
    width: initial;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

#thirdline{
    width: initial;
    height: initial;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}